*::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  display: none;
}

*::-webkit-scrollbar-thumb:hover {
  display: block;
  background-color: transparent !important;
}

.delete-memo {
  color: red;
  font-size: 20px !important;
}

.event-list {
  margin-top: 20px;
  margin-left: 2rem;
}

.event-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  cursor: pointer;
  transition: transform 2s, box-shadow 2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.event-container {
  width: 50% !important;
}

.event-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.event-date {
  color: #f07809;
}
.event-form {
  margin-bottom: 20px;
}

.event-form h2 {
  margin-bottom: 10px;
  color: #007bff;
}

.event-form p {
  font-size: 1.2rem;
  color: #1403f6;
}

.event-form input {
  padding: 8px;
  font-size: 1rem;
  margin-right: 10px;
}
.selected {
  background-color: #40c3ff !important;
  color: rgb(0, 0, 0);
}

.event-marked {
  background-color: #ff4081;
  color: rgb(0, 0, 0);
}
