/* SCROLLBAR */
*::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  display: none;
}

*::-webkit-scrollbar-thumb:hover {
  display: block;
  background-color: transparent !important;
}
/* CALENDAR */
.event-card {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  transition: transform 2s, box-shadow 2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-container {
  width: 321px !important;
  min-width: 321px !important;
}

.event-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-date {
  color: #f07809;
}

.selected {
  background-color: #40c3ff !important;
  color: rgb(0, 0, 0);
}

.delete-memo {
  color: red;
  font-size: 20px !important;
}

.container-calendarDetails {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.react-calendar__tile--active {
  background-color: #40c3ff !important;
  color: rgb(0, 0, 0);
}

@media (max-width: 702px) {
  .container-calendarDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .calendarDetails {
    position: absolute;
  }
}
/* PASSWORD INPUT */
.group {
  display: flex;
  line-height: 30px;
  align-items: center;
  position: relative;
  max-width: 200px;
}

.input {
  width: 100%;
  height: 45px;
  line-height: 30px;
  padding: 0 5rem;
  padding-left: 3rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #f8fafc;
  color: #0d0c22;
  transition: 0.5s ease;
}

.input::placeholder {
  color: #94a3b8;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(129, 140, 248);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: none;
  width: 1rem;
  height: 1rem;
}
/* BUTTON DROPDOWN */

.btn-after::after {
  content: "";
  color: #0d0c22;
}
.formLogin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1f1f1f;
  padding: 30px;
  width: 390px !important;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #aaa;
}

.formLogin button {
  align-self: flex-end;
}

.divLabel > label {
  color: #f1f1f1;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #333;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
  background-color: #2b2b2b;
}

.inputLogin {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
  color: #f1f1f1;
}

.inputLogin:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.divSpan {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.divSpan > div > label {
  font-size: 14px;
  color: #f1f1f1;
  font-weight: 400;
}

.spanLogin {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #2d79f3;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.pSpan {
  text-align: center;
  color: #f1f1f1;
  font-size: 14px;
  margin: 5px 0;
}

.btnLogin {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #333;
  background-color: #2b2b2b;
  color: #f1f1f1;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btnLogin:hover {
  border: 1px solid #2d79f3;
  color: white;
}
