*::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  display: none;
}

*::-webkit-scrollbar-thumb:hover {
  display: block;
  background-color: transparent !important;
}

.delete-memo {
  color: red;
  font-size: 20px !important;
}

.event-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  transition: transform 2s, box-shadow 2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.event-container {
  width: 50% !important;
}

.event-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-date {
  color: #f07809;
}

.selected {
  background-color: #40c3ff !important;
  color: rgb(0, 0, 0);
}
.react-calendar__tile--active {
  background-color: #40c3ff !important;
  color: rgb(0, 0, 0);
}
