*::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  display: none;
}

*::-webkit-scrollbar-thumb:hover {
  display: block;
  background-color: transparent !important;
}

.delete-memo {
  color: red;
  font-size: 20px !important;
}

.event-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  transition: transform 2s, box-shadow 2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.event-container {
  width: 50% !important;
  min-width: 321px !important;
}

.event-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-date {
  color: #f07809;
}

.selected {
  background-color: #40c3ff !important;
  color: rgb(0, 0, 0);
}
.react-calendar__tile--active {
  background-color: #40c3ff !important;
  color: rgb(0, 0, 0);
}

/* From Uiverse.io by ozgeozkaraa01 */
.group {
  display: flex;
  line-height: 30px;
  align-items: center;
  position: relative;
  max-width: 200px;
}

.input {
  width: 100%;
  height: 45px;
  line-height: 30px;
  padding: 0 5rem;
  padding-left: 3rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #f8fafc;
  color: #0d0c22;
  transition: 0.5s ease;
}

.input::placeholder {
  color: #94a3b8;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(129, 140, 248);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: none;
  width: 1rem;
  height: 1rem;
}
